:root {
  --clr-primary-100: hsl(320deg, 50%, 52.9%);
  --clr-primary-200: hsl(319.7deg, 49.8%, 53.1%);
  --clr-secondary-100: hsl(223.3deg, 63.5%, 37.6%);
  --clr-secondary-200: hsl(223.6deg, 62.7%, 37.8%);
  --clr-tertiary-100: hsl(16.8deg, 83.7%, 61.6%);
  --clr-tertiary-200: hsl(0deg, 66.7%, 62.4%);
  --clr-tertiary-300: hsl(0deg, 66.7%, 52.4%);
  --clr-ash-100: hsl(240deg, 71.4%, 97.3%);
  --clr-neutral-100: hsl(0deg, 0%, 100%);
  --clr-neutral-200: hsl(0deg, 0%, 36.1%);
  --clr-neutral-300: hsl(0deg, 0%, 20%);
  --clr-neutral-900: hsl(0deg, 0%, 0%);
}

/* Font Sizes  */
:root {
  /* Font Sizes  */
  --fs-display: 8rem;
  --fs-heading: 3.6rem;
  --fs-label: 1.8rem;
  --fs-body: 1.6rem;
  --fs-caption: 1.4rem;
  /* Font Family */
  --ff-primary: "Rubik", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  :root {
    --fs-display: 5rem;
    --fs-heading: 2.4rem;
    --fs-label: 1.8rem;
    --fs-body: 1.6rem;
    --fs-caption: 1.4rem;
  }
}

.heading-1 {
  font-size: var(--fs-heading);
  font-weight: 400;
  line-height: 1.28;
  text-transform: capitalize;
}

.heading-2 {
  font-size: var(--fs-label);
  font-weight: 400;
  line-height: 1.34;
}

.paragraph-1 {
  font-size: var(--fs-label);
  line-height: 1.45;
}

.caption {
  font-size: var(--fs-caption);
  opacity: 0.5;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.6;
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

::-moz-selection {
  background-color: var(--clr-primary-100);
}

::selection {
  background-color: var(--clr-primary-100);
}

.container-main {
  overflow: hidden;
  height: 100%;
}

.icon {
  width: 5rem;
  height: 5rem;
  fill: url(#icon-gradient) var(--clr-primary-200);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner__dot {
  background-color: var(--clr-primary-100);
}
.spinner__dot, .spinner__dot:after {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -webkit-animation: spinner 1.5s calc(((var(--i) + var(--o, 0)) / var(--n) - 1) *1.5s) infinite;
          animation: spinner 1.5s calc(((var(--i) + var(--o, 0)) / var(--n) - 1) *1.5s) infinite;
}
.spinner__dot:after {
  --o: 1;
  background-color: var(--clr-neutral-100);
  content: "";
}

@-webkit-keyframes spinner {
  0%, 50% {
    transform: scale(0);
  }
}

@keyframes spinner {
  0%, 50% {
    transform: scale(0);
  }
}
.navSticky {
  position: fixed;
  background-image: linear-gradient(-50deg, var(--clr-primary-100), var(--clr-secondary-100));
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
}

.navAbsolute {
  position: absolute;
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

.moveInBottom {
  -webkit-animation: moveInBottom 1s backwards ease-out 0.5s;
          animation: moveInBottom 1s backwards ease-out 0.5s;
}

.moveInRight {
  -webkit-animation: moveInRight 1.5s backwards ease-out 0.5s;
          animation: moveInRight 1.5s backwards ease-out 0.5s;
}

.moveInLeft {
  -webkit-animation: moveInLeft 1.5s backwards ease-out 0.5s;
          animation: moveInLeft 1.5s backwards ease-out 0.5s;
}

.textClip {
  -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) backwards;
          animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) backwards;
}/*# sourceMappingURL=index.css.map */