@use '../../styles/abstracts/breakpoints';
@use '../../styles/utilities/flow';

.container {
  //styling
  background-image: linear-gradient(
    -50deg,
    var(--clr-primary-100),
    var(--clr-secondary-100)
  );

  //sizing
  min-height: 45rem;
  overflow: hidden;

  //layout
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include breakpoints.respond(phone-reg) {
    padding-inline: flow.$padding-md;
  }

  @include breakpoints.respond(phone-mini) {
    padding-inline: flow.$padding-sm;
  }
}

.subcontainer {
  //layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  //position
  position: relative;
  z-index: 1;

  //typography
  color: var(--clr-neutral-100);
  text-align: center;
}

.heading {
  margin-bottom: flow.$margin-sm;
}

// Gooey
.gooey {
  position: absolute;
  mix-blend-mode: luminosity;

  &:nth-of-type(1) {
    height: 35rem;
    bottom: -15%;
    right: -6%;
  }

  &:nth-of-type(2) {
    height: 10rem;
    bottom: 5rem;
    left: 5%;
  }

  &:nth-of-type(3) {
    height: 30rem;
    top: -15rem;
    left: 10%;
  }

  &:nth-of-type(4) {
    height: 5rem;
    top: 5%;
    right: 1%;
  }
}
